.aboutP{
    
    flex-flow: row wrap;
    display: flex;
    justify-content: center;
    width: 30vw;
    height: 40vw;
}

.aboutMe{
    background-color: black;
    width: 62vw;
    margin-top: 6%;
    margin-left: 3%;
}

.aboutmePa{
    color: rgb(255, 255, 255);
    text-align: justify;
    margin: 2% 2% 2% 2%;
    font-size: 1.5vw;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
}

.aboutP img{
    width: 100%;
    height: 100%;
    margin-top: -15%;
}

 .myDetails h2{
    font-size: 2vw;
    color: white;
    text-align: center;
    margin-top: 5%;
 }

 .myDetails p{
    font-size: 2vw;
    color: white;
    text-align: center;
    margin: 3% 1% 1% 1%;
 }
 .instaLink i{
     font-size: 5vw;
     color: red;
     margin-left: 17%;
 }
 .Linkin i{
    font-size: 5vw;
    color: red;
    margin-left: 5%;
}
.CVlink{
    font-size: 5vw;
    color: red;
    margin-left: 5%;
    border-radius:50px;
    text-decoration: none;
    font-weight: bolder;
}


@media screen and (max-width:1024px){
 

    .aboutP{
        margin-top: 29%;
        width: 62vw;
        height: 75vw;
    
    }
    .aboutMe{
        width: 90vw;
        height: initial;
        margin-top: 29%;
        margin-left: 0%;
    
    
    }
    .aboutP h1{
        font-size: 9vw;
        margin-top: -11%;
    }
    
    .aboutmePa{
    
        margin: 2% 2% 2% 2%;
        font-size: 3.5vw;
        line-height: 1.5;
        font-family: 'Montserrat', sans-serif;
    }

    .myDetails h2{
        font-size: 5vw;
     }
     .myDetails p{
        font-size: 4vw; 
     }

     .instaLink i{
        font-size: 9vw;
       
    }
    .Linkin i{
        font-size: 9vw;
    }
    .CVlink{
        font-size: 9vw;
    }

}

