
.illustrationP{
   
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 40vw;
    
}

.illustrationP h1{

    color: white;
    font-size: 9vw;
    position: absolute;
    font-family: 'Anton', sans-serif;
}

.illustrationP img{
    width: 100%;
    height: 100%;
}

/*gallery*/

.row{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.column {
    padding: 2.2vw;
}

.column img {
  transition: transform .2s;
    cursor: pointer;
    width: 20vw;
    height: 30vw;
    border-radius: 10px; 
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}

.column img:hover {
    transform: scale(1.01);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.container {
    position: absolute;
    z-index: 5;
    display: none;
    top: 100%;
    width: 100%;
    height: 100%;
    background-color: #000000ad;
}

#expandedImg{
    width: 30vw;
    height: 40vw;
    margin-top: 6%;
    margin-left: 34%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    
}

#imgtext {
   position: absolute;
   bottom: 6%;
   margin-left: 65%;
    color: white;
    font-size: 2vw;
}

.closebtn {
    position: absolute;
    margin-top: 4%;
    margin-left: 66%;
    color: #fa0000;
    font-size: 5vw;
    cursor: pointer;
}

@media screen and (max-width:720px){

    .illustrationP h1{
    
        font-size: 14vw;
    }
    
    .illustrationP img{
    
        margin-top: -77%;
        width: 100vw;
        height: 100vw;
    }
    .column img {   
        width: 38vw;
        height: 58vw;

       }
    #expandedImg {
        width: 84vw;
        height: 133vw;
        margin-left: 7%;
    }
    
    #imgtext {
        margin-left: 29%;
        font-size: 6vw;
        margin-bottom: -3%;
    }

    .closebtn {
        margin-top: -5%;
        margin-left: 92%;
        font-size: 12vw;  
    }
    .container {
        height: 85%;
    }


}

@media screen and (max-width:1024px) and (min-width:720px){
    .illustrationP{
   margin-top: 10%;
        
    }
    .illustrationP h1{
    
        font-size: 14vw;
    }
    
    .illustrationP img{
    
        margin-top: -77%;
        width: 100vw;
        height: 100vw;
    }

    .column img {   
        width: 38vw;
        height: 58vw;
       }

    #expandedImg {
    width: 70vw;
    height: 107vw;
    margin-left: 14%;
    margin-top: 0%;
    }
    
    #imgtext {
        margin-left: 29%;
        font-size: 6vw;
        margin-bottom: 12%;
    }

    .closebtn {
        margin-top: -5%;
        margin-left: 85%;
        font-size: 12vw;  
    }
    .container {
        height: 100%;
    }


}