*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.illustrationP{
   
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 40vw;
    
}
.illustrationP h1{

    color: white;
    font-size: 9vw;
    position: absolute;
    font-family: 'Anton', sans-serif;
}

.illustrationP img{

    width: 100%;
    height: 100%;
}

/*Illustration*/

.row{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.column {
    padding: 2.2vw;
}

.column img {
  transition: transform .2s;
    cursor: pointer;
    width: 20vw;
    height: 30vw;
    border-radius: 10px; 
}

.column img:hover {
    transform: scale(1.01);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.container {
    position: absolute;
    z-index: 5;
    display: none;
}

#expandedImg{
    width: 30vw;
    height: 40vw;
    
}

#imgtext {
   position: absolute;
    bottom: 1%;
    margin-left: 27%;
    color: white;
    font-size: 2vw;
}

.closebtn {
    position: absolute;
    margin-top: -7%;
    margin-left: 101%;
    color: #fa0000;
    font-size: 5vw;
    cursor: pointer;
}

@media screen and (max-width:720px){

    .illustrationP h1{
    
        font-size: 14vw;
    }
    
    .illustrationP img{
    
        margin-top: -77%;
        width: 100vw;
        height: 100vw;
    }
    .column img {   
        width: 38vw;
        height: 58vw;
       }
    #expandedImg {
        width: 84vw;
        height: 133vw;
    }
    
    #imgtext {
        margin-left: 26%;
        font-size: 6vw;
    }

    .closebtn {
        font-size: 12vw;  
    }

}

@media screen and (max-width:1024px) and (min-width:720px){
    .illustrationP{
   margin-top: 10%;
        
    }
    .illustrationP h1{
    
        font-size: 14vw;
    }
    
    .illustrationP img{
    
        margin-top: -77%;
        width: 100vw;
        height: 100vw;
    }

    .column img {   
        width: 38vw;
        height: 58vw;
       }
    #expandedImg {
        width: 80vw;
        height: 117vw;
    }
    #imgtext {
        margin-left: 26%;
        font-size: 6vw;
    }

    .closebtn {
        font-size: 12vw;  
    }


}