*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* //Portfolio Header page CSS//*/  

 .PLinkPage{
   text-decoration: none;
 }

 .PLinkImgs{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
    padding: 1vw 3vw;  
 }

.PLinkImgs:hover {
    transform: scale(1.1);

} 
.PLinkImgs img{
     width: 25vw;
     height: 38vw;
    border-radius: 10px;
}

 .Plink-Headers{
    
    color: white;
    font-size: 4vw;
    font-family: 'Anton', sans-serif;
    position: absolute;
 }


 
 @media screen and (max-width:1024px){

    .PLinkImgs{
        margin-top: 29%; 
     }

     .PLinkImgs img{
      width: 60vw;
      height: 100vw;
   }
   .Plink-Headers{
    font-size: 11vw;
 }

}


